<<<<<<< HEAD
html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
=======
.form-signin {
  width: auto;
  max-width: 400px;
  /* padding: auto; */
  margin: auto;
}
.white-box {
  background-color: white;
  padding: 20px;
  opacity: 0.95;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

>>>>>>> 94bee9de89e78cb70db708fb0ebea9ca414b9c62
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
<<<<<<< HEAD
.form-signin .form-control:focus {
  z-index: 2;
}
=======

.form-signin .form-control:focus {
  z-index: 2;
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

>>>>>>> 94bee9de89e78cb70db708fb0ebea9ca414b9c62
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
<<<<<<< HEAD
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
=======

.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.text {
  margin-top: 15px;
  margin-bottom: 5px;
>>>>>>> 94bee9de89e78cb70db708fb0ebea9ca414b9c62
}