<body>
  <div class="container">
    <header>
      <h1>IRRIGATION SYSTEM CONTROLLER</h1>
    </header> 

    <form action="results.html" method="GET">
      <fieldset class="box">
        <legend><strong>Options</strong></legend>
        <div class="select_box">
          <label for="manual">Manual</label>
          <input type="radio" name="mode" id="manual" value="manual">
        </div>
        <div class="select_box">
          <label for="auto">Auto</label>
          <input type="radio" name="mode" id="auto" value="auto">
        </div>
      </fieldset>

      <fieldset class="box">
        <legend><strong>Time and Date</strong></legend>

        <div class="form-group">
          <div class="select_box">
            <label for="TimeUnit1">Sub Unit 1</label>
            <input type="checkbox" name="TimeUnit1" id="TimeUnit1" value="TimeUnit1">
          </div>
          <div class="select_box">
            <label for="TimeUnit2">Sub Unit 2</label>
            <input type="checkbox" name="TimeUnit2" id="TimeUnit2" value="TimeUnit2">
          </div>
          <div class="select_box">
            <label for="TimeUnit3">Sub Unit 3</label>
            <input type="checkbox" name="TimeUnit3" id="TimeUnit3" value="TimeUnit3">
          </div>
          <div class="select_box">
            <label for="TimeUnit4">Sub Unit 4</label>
            <input type="checkbox" name="TimeUnit4" id="TimeUnit4" value="TimeUnit4">
          </div>
          <div class="select_box">
            <label for="TimeUnit5">Sub Unit 5</label>
            <input type="checkbox" name="TimeUnit5" id="TimeUnit5" value="TimeUnit5">
          </div>
        </div>


        <div class="form-group">
          <label for="date">Set Date</label>
          <input type="date" name="date" id="date" class="form-control">
        </div>
        <div class="form-group">
          <label for="time">Set Time</label>
          <input type="time" name="time" id="time" class="form-control">
        </div>
        <div class="form-group">
          <label for="duration">Duration in Minutes</label>
          <input type="number" name="duration" id="duration" min="1" max="30" class="form-control">
        </div>
        <div class="form-row">
          <div class="col">
            <label for="repetition">Repeat</label>
            <select name="repetition" id="repetition" class="form-control">
              <option value="none">None</option>
              <option value="daily">Daily</option>
              <option value="weekly">Weekly</option>
            </select>
          </div>
          <div class="col">
            <label for="times">Times per day</label>
            <input type="number" name="times" id="times" min="1" max="3" class="form-control">
          </div>
        </div>
        <div class="form-group"></div>
      </fieldset>

      <fieldset class="box">
        <legend><strong>Humidity and Temperature</strong></legend>

        <div class="form-group">
          <label for="unitno1">Sub Unit Number</label>
          <input type="number" name="unitno1" id="unitno1" min="1" max="5" class="form-control">
        </div>
        <div class="form-group">
          <label for="humidity">Average Humidity</label>
          <output name="humidity" id="humidity"></output>
        </div>
        <div class="form-group">
          <label for="temperature">Average Temperature</label>
          <output name="temperature" id="temperature"></output>
        </div>
      </fieldset>

      <fieldset class="box">
        <legend><strong>Battery Level</strong></legend>
        <div class="form-group">
          <label for="unitno2">Sub Unit Number</label>
          <input type="number" name="unitno2" id="unitno2" min="1" max="5" class="form-control">
        </div>
        <div class="form-group">
          <label for="battery">Battery Level</label>
          <output name="battery" id="battery"></output>
        </div>
      </fieldset>

      <div class="box1">
        <button type="submit" class="btn btn-success btn-block button_cl">Submit</button>
        <button type="reset" class="btn btn-success  btn-block button_cl">Reset</button>
      </div>

    </form>
  </div>
</body>