<body>
  <div class="container">
    <header>
      <h1>IRRIGATION SYSTEM CONTROLLER</h1>
    </header>

    <form action="results.html" method="GET">
      <fieldset class="box">
        <legend><strong>Options</strong></legend>

        <div class="form-group">
          <div *ngFor="let mode of modes" class="select_box">
            <label for="mode"> {{mode}}
              <input type="radio" style="margin:10px;" name="mode" id="mode" value="mode">
            </label>
          </div>
        </div>

      </fieldset>

      <fieldset class="box">
        <legend><strong>Time and Date</strong></legend>

        <div class="form-group">
          <div *ngFor="let unit of subunits" class="select_box">
            <label for="TimeUnit"> Sub {{unit}}
              <input type="checkbox" name="TimeUnit" id="TimeUnit" value="unit">
            </label>
          </div>
        </div>

        <div class="form-group">
          <label for="date">Set Date</label>
          <input type="date" name="date" id="date" class="form-control">
        </div>
        <div class="form-group">
          <label for="time">Set Time</label>
          <input type="time" name="time" id="time" class="form-control">
        </div>
        <div class="form-group">
          <label for="duration">Duration in Minutes</label>
          <input type="number" name="duration" id="duration" min="1" max="30" class="form-control">
        </div>
        
        <div class="form-row">
          <div class="col">
            <label for="repetition">Repeat</label>
            <select name="repetition" id="repetition" class="form-control">
              <option value="none">None</option>
              <option value="daily">Daily</option>
              <option value="weekly">Weekly</option>
            </select>
          </div>
          <div class="col">
            <label for="times">Times per day</label>
            <input type="number" name="times" id="times" min="1" max="3" class="form-control">
          </div>
        </div>
        <div class="form-group"></div>
      </fieldset>

      <fieldset class="box">
        <legend><strong>Humidity and Temperature</strong></legend>

        <div class="form-group">
          <label for="unitno1">Sub Unit Number</label>
          <input type="number" name="unitno1" id="unitno1" min="1" max="5" class="form-control">
        </div>
        <div class="form-group">
          <label for="humidity">Average Humidity</label>
          <output name="humidity" id="humidity"></output>
        </div>
        <div class="form-group">
          <label for="temperature">Average Temperature</label>
          <output name="temperature" id="temperature"></output>
        </div>
      </fieldset>

      <!-- <fieldset class="box">
        <legend><strong>Battery Level</strong></legend>
        <div class="form-group">
          <label for="unitno2">Sub Unit Number</label>
          <input type="number" name="unitno2" id="unitno2" min="1" max="5" class="form-control">
        </div>
        <div class="form-group">
          <label for="battery">Battery Level</label>
          <output name="battery" id="battery"></output>
        </div>
      </fieldset> -->

      <div class="box1">
        <button type="submit" class="btn btn-success btn-block button_cl">Submit</button>
        <button type="reset" class="btn btn-success  btn-block button_cl">Reset</button>
      </div>

    </form>
  </div>
</body>