<h1>Irrigation System Controller</h1>
<hr>
<form action="results.html" method="GET">
  <legend><strong>Options</strong></legend>

  <div class="form-group row">
    <div *ngFor="let mode of modes" class="radio col-sm-1">
      <label for="mode"> {{mode}}
        <input type="radio" style="margin:10px;" name="mode" id="mode" value="mode">
      </label>
    </div>
  </div>

  <legend><strong>Time and Date</strong></legend>

  <div class="form-group row">
    <div *ngFor="let unit of subunits" class="checkbox col-sm-1">
      <label for="TimeUnit"> Sub {{unit}}
        <input type="checkbox" name="TimeUnit" id="TimeUnit" value="unit">
      </label>
    </div>
  </div>

  <div class="form-group row">
    <label for="date" class="col-sm-1 col-form-label">Set Date</label>
    <div class="col-sm-3">
      <input type="date" name="date" id="date" class="form-control" placeholder="Date">
    </div>
  </div>

  <div class="form-group row">
    <label for="date" class="col-sm-1 col-form-label">Set Time</label>
    <div class="col-sm-3">
      <input type="time" name="time" id="time" class="form-control" placeholder="Time">
    </div>
  </div>

  <div class="form-group row">
    <label for="date" class="col-sm-1 col-form-label">Duration (min)</label>
    <div class="col-sm-3">
      <input input type="number" name="duration" id="duration" min="1" max="30" class="form-control">
    </div>
  </div>

  <div class="form-group row">
    <label for="repetition" class="col-sm-1 col-form-label">Repeat</label>
    <div class="col-sm-3">
      <select input name="repetition" id="repetition" min="1" max="30" class="form-control">
        <option *ngFor="let f of frequencies">{{f}}
      </select>
    </div>
    <label for="times" class="col-sm-1 col-form-label">Times</label>
    <div class="col-sm-3">
      <input type="number" name="times" id="times" min="1" max="3" class="form-control">
    </div>
  </div>

  <legend><strong>Humidity and Temperature</strong></legend>

  <div class="form-group row">
    <label for="unitNo1" class="col-sm-1 col-form-label">Sub Unit Number</label>
    <div class="col-sm-3">
      <select input name="repetition" id="repetition" min="1" max="30" class="form-control">
        <option *ngFor="let unit of subunits">{{unit}}
      </select>
    </div>
  </div>

  <p>
    <label for="humidity">Average Humidity</label>
    <output name="humidity" id="humidity"></output>
  </p>
  <p>
    <label for="temperature">Average Temperature</label>
    <output name="temperature" id="temperature"></output>
  </p>

  <legend><strong>Battery Level</strong></legend>

  <div class="form-group row">
    <label for="unitNo1" class="col-sm-1 col-form-label">Sub Unit Number</label>
    <div class="col-sm-3">
      <select input name="repetition" id="repetition" min="1" max="30" class="form-control">
        <option *ngFor="let unit of subunits">{{unit}}
      </select>
    </div>
  </div>

  <p>
    <label for="battery">Battery Level</label>
    <output name="battery" id="battery"></output>
  </p>

  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="reset" style="margin:10px;" class="btn btn-primary">Reset</button>

</form>